<!DOCTYPE html>
<html>
<head>
  <title>Diane Van Etten</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="col-xs-3 logo">
        <%= link_to root_path, class: 'logo' do %>
          <div class="circle">
            <br />
            Get
            <br />
            a new
            <br />
            quote
          </div>
        <% end %>
      </div>
      <div class="col-xs-11 links">
        <%= link_to 'My Resume', my_resume_path %>
        &nbsp;&nbsp;
        <%= link_to 'My Projects', my_projects_path %>
        &nbsp;&nbsp;
        <%= link_to 'My Skills', my_skills_path %>
      </div>
    </nav>
  </header>

  <br class="clear" />

  <div class="container">

    <%= yield %>
  </div>



  <div class="footer">
    <div class="container">

      <div class="col-xs-12 footer-blurb">
        
        <a href="https:///www.facebook.com/diane.vanetten">
          <i class="svg-icon facebook"></i>
        </a>
        <a href="https://github.com/dvanetten03">
          <i class="svg-icon github"></i>
        </a>
        <a href="https://www.linkedin.com/in/dianevanetten">
          <i class="svg-icon linkedin"></i>
        </a>
        <a href="https://plus.google.com/u/0/114634071099248738803/posts/p/pub">
          <i class="svg-icon googleplus"></i>
        </a>
        <a href="https://www.twitter.com/dvanetten03">
          <i class="svg-icon twitter"></i>
        </a>
      </div>
    </div>
  </div>

</body>
</html>
