<!DOCTYPE html>
<html>
<head>
  <title>Diane</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="col-xs-3">
      <%= link_to root_path, class: 'logo' do %>
        <div class="circle">
          <br />
          <br />
          DSV
        </div>
      <% end %>
    </div>
    <div class="col-xs-8 links">
      <%= link_to 'My Resume', my_resume_path %>
      &nbsp;&nbsp;
      <%= link_to 'My Projects', my_projects_path %>
      &nbsp;&nbsp;
      <%= link_to 'My Skills', my_skills_path %>
    </div>
  </header>

  <hr />

  <br class="clear" />

  <div class="container">

    <%= yield %>
  </div>

  <div class="footer">
    <div class="container">
      <div class="col-xs-12 footer-blurb">
        Proudly hacked in Edmond, OK by <a href="https://github.com/dvanetten03">Diane Van Etten</a><br />
        You can follow me on Twitter <a href="http://twitter.com/dvanetten03">@dvanetten03</a>
      </div>
    </div>
  </div>

</body>
</html>
